* {
  box-sizing: border-box;
}

body {
  background-image: url("../img/dw2.png");
}

p {
  margin: 0 auto 2rem;
  text-align: center;
  font-family: 'oswald';
  font-size: 1.25rem;
  color: #444;
  font-weight: 100;
  width: 90%;
}

.lightbox {
  /** Default lightbox to hidden */
  display: none;

  /** Position and style */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
}

.lightbox img {
  /** Pad the lightbox image */
  max-width: 90%;
  max-height: 80%;
  margin-top: 2%;
}

.lightbox:target {
  /** Remove default browser outline */
  outline: none;

  /** Unhide lightbox **/
  display: block;
}


.title {
  text-align: center;
  font-family: 'Oswald';
  font-weight: 100;
  font-size: 3.75rem;
  letter-spacing: 5px;
  background: linear-gradient(rgba(255, 0, 0, 0), #444, rgba(255, 0, 0, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}

.gallery {
  margin-top: 50px;
  width: 90%;
  margin: 50px auto;
  max-width: 1100px;
}

.frame {
  position: absolute;
  display: block;
  width: 90%;
  height: 250px;
  margin: 0 auto 2rem;
  background-size: cover;
  border-radius: 10px;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  transition: all .4s ease;
  z-index: 1;
}

.img {
  width: 90%;
  display: block;
  margin-top: 50%;
  transform: translateY(50%);
  margin: 0 auto;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 10;
}

.overlay:after {
  content: '';
  width: 100%;
  border-radius: 10px;
  height: 100%;
  background-color: #202020;
  opacity: 0;
  position: absolute;
  top: 0;
  z-index: -10;
  left: 0;
  transition: all .3s ease;
}

.subtitle {
  position: relative;
  top: -200px;
  margin-bottom: 2rem;
  margin-top: 4rem;
  font-size: 2.25rem;
  font-family: 'Oswald';
  font-weight: 100;
  color: white;
  text-align: center;
  letter-spacing: 5px;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.link {
  position: relative;
  display: block;
  width: 60%;
  top: 200px;
  padding: 10px;
  margin: 0 auto;
  font-family: 'Oswald';
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  text-align: center;
  border: 2px solid white;
  border-radius: 3px;
  font-size: 1.25em;
  transition: all 0.3s cubic-bezier(0.3, 0, 0, 1.3);
}

.link:hover {
  background-color: white;
  color: #202020;
}

.frame:hover .subtitle {
  top: 0;
}

.frame:hover .link {
  top: 0;
}

.frame:hover .overlay:after {
  opacity: .75;
}

.pic1 {
  background-image: url("../img/coolcastle.jpg");
}

.pic2 {
  background-image: url("../img/birds.jpg");
}

.pic3 {
  background-image: url("../img/et2.jpg");
}

.pic4 {
  background-image: url("../img/etglasses.jpg");
}

.pic5 {
  background-image: url("../img/eth.jpg");
}

.pic6 {
  background-image: url("../img/house.jpg");
}

.pic7 {
  background-image: url("../img/LLoldSF.jpg");
}

.pic8 {
  background-image: url("../img/parisg.jpg");
}

.pic9 {
  background-image: url("../img/rr.jpg");
}

.pic10 {
  background-image: url("../img/stop.jpg");
}

.pic11 {
  background-image: url("../img/tire.jpg");
}

.pic12 {
  background-image: url("../img/tree.jpg");
}



@media screen and (min-width: 45em) {
  .frame {
    display: inline-block;
    width: 45%;
    margin-left: 25px;
  }
}

@media screen and (min-width: 37.5em) {
  .frame {
    height: 300px;
  }
}

@media screen and (min-width: 37.5em) {
  .title {
    font-size: 4.75rem;
  }
}

@media screen and (min-width: 37.5em) {
  p {
    height: 70%;
  }
}












